@import '../../../../styles/base';

.RadialBracketBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: $font-size-quarternary;
    line-height: 1;
  }
  &__button {
    font-size: $font-size-quarternary;
    padding: .75rem 1.5rem;
    color: $color-grey-light-2;
    background-color: $color-grey-dark-3;
    border-radius: .3rem;

    margin: 1rem;

    border: none;
    cursor: pointer;
    user-select: none;

    text-align: center;
    
    &:hover {
      background-color: lighten($color-grey-dark-3, 20%);
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: lighten($color-grey-dark-3, 10%);
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }
  }

  &__colorgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__color {
    
  }
}