@import '../../../../styles/base';

.RadialBracketFontStyle {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
  grid-gap: 2rem;

  &__section {
    font-size: $font-size-tertiary;
    text-align: center;
  }
  
  &__options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    justify-content: center;
    align-items: center;
    
    margin-top: 1rem;
  }
  
  &__option {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: .3rem;
    background-color: $color-grey-dark-3;
    color: white;
    text-align: center;
    font-size: $font-size-quarternary;
    user-select: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
      background-color: lighten($color-grey-dark-3, 20%);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      background-color: lighten($color-grey-dark-3, 10%);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }
  }
}